@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.dateWrap {
  border-top: solid 1px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateWrap p {
  font-family: 'SF_HambakSnow';
}

.comment_time_Wrap {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.comment_Wrap {
  width: 50%;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.comment_Wrap p {
  font-family: 'MaruBuri-Regular';
}

.time_Wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  font-family: 'Cafe24SsurroundAir';
  font-size: 0.9vw;
}

.time_Wrap p {
  margin: 0;
}